<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>good26</key>
	<string>out of this galaxy</string>
	<key>good25</key>
	<string>jumping jupiter</string>
	<key>good24</key>
	<string>out of this world
</string>
	<key>good23</key>
	<string>illumintating</string>
	<key>good22</key>
	<string>super celestial</string>
	<key>good21</key>
	<string>rocking rockets</string>
	<key>good20</key>
	<string>mind-blowing</string>
	<key>good19</key>
	<string>intergalactic</string>
	<key>good18</key>
	<string>supernova</string>
	<key>good17</key>
	<string>magnetic</string>
	<key>good16</key>
	<string>ecliptic</string>
	<key>good15</key>
	<string>ethereal</string>
	<key>good14</key>
	<string>empyrean</string>
	<key>good13</key>
	<string>cosmic</string>
	<key>good12</key>
	<string>celestial</string>
	<key>good11</key>
	<string>fantastic</string>
	<key>good10</key>
	<string>stunning</string>
	<key>good09</key>
	<string>magnificent</string>
	<key>good08</key>
	<string>marvelous</string>
	<key>good07</key>
	<string>amazing</string>
	<key>good06</key>
	<string>excellent</string>
	<key>good05</key>
	<string>sonic</string>
	<key>good04</key>
	<string>awesome</string>
	<key>good03</key>
	<string>wonderful</string>
	<key>good02</key>
	<string>stellar</string>
	<key>good01</key>
	<string>great</string>
</dict>
</plist>
